@charset "UTF-8";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: var(--text-color);
    text-decoration: none;
    display: block;

}

li {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

p {
    font-family: var(--font-fontFamily);
    color: var(--text-color);
}

:root {
    --text-color: rgb(248, 252, 255);
    --font-fontFamily: "Shippori Mincho", serif;
    --text2-color: #402626;
    --maxWidth-max-width: 1600px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: var(--maxWidth-max-width);
    position: relative;
    z-index: 100;

}

.left {
    width: 60px;
    opacity: 0;
}

header li:first-of-type img {
    width: 80px;
    height: fit-content;
}

header nav {
    border-bottom: 1px solid rgb(248, 252, 255);
    padding: 20px 30px 0;

}

header nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
    max-width: 1200px;

}

header ul li a {
    font-family: var(--font-fontFamily);
    color: var(--text-color);
    font-weight: bold;
}

header ul li:hover a,
.language ul li:hover {
    transition: all 0.3s;
    scale: 1.03;
}

.language ul {
    display: flex;
    gap: 20px;
    color: var(--text-color);
    font-family: var(--font-fontFamily);
    cursor: pointer;

}

.reservation {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 200;
    border: 1px solid rgb(248, 252, 255);
    border-radius: 20px;
    padding: 13px 7px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.reservation::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent rgb(248, 252, 255);
    border-style: solid;
    border-width: 8px;
    position: absolute;
    bottom: 10px;
    left: 16px;
}

.reservation a {
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    font-family: var(--font-fontFamily);
    transition: all 0.2s;
}

.reservation:hover {
    background-color: rgba(248, 252, 255, 0.5);

}

.reservation:hover a {
    color: rgb(0, 0, 0);
}

.topimg {
    background: url(./img/reservetop.png) center/cover no-repeat;
    height: 400px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.topimg::after {
    content: "";
    background: url(./img/kagenan.png) center/contain no-repeat;
    width: 100px;
    height: 200px;
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
}

.content {
    background: url(./img/whitewashi.jpg) center/cover repeat-y;
    padding: 350px 0 100px;
}

.stay details {
    color: var(--text2-color);
}

.content {
    background: url(./img/whitewashi.jpg) center/contain repeat;

}

.reservation {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 800;
    border: 1px solid rgb(248, 252, 255);
    border-radius: 20px;
    padding: 13px 7px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    animation: yoyaku 1s linear 0.8s both;
}

.reservation::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent rgb(248, 252, 255);
    border-style: solid;
    border-width: 8px;
    position: absolute;
    bottom: 10px;
    left: 16px;
}

.reservation a {
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    font-family: var(--font-fontFamily);
    transition: all 0.2s;
}

.reservation:hover {
    background-color: rgba(248, 252, 255, 0.5);

}

.reservation:hover a {
    color: rgb(0, 0, 0);
}

.contentinner,
#stay,
#guestroom,
#cooking,
#hotspring,
#access {
    width: 70%;
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    color: var(--text2-color);
    font-family: var(--font-fontFamily);
}

#stay,
#guestroom,
#cooking,
#hotspring,
#access {
    width: 60%;
}

.contentinner ul {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.contentinner ul li {
    padding: 10px 40px;
    border-right: 1px solid #402626;
    height: 120px;
    display: flex;
    align-items: flex-start;
}

.contentinner ul li a::after {
    content: "";
    display: block;
    width: 10px;
    height: 50px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    transform: skewY(-45deg);
    position: absolute;
    top: 40px;
    left: 50%;
}

.contentinner ul li a {
    color: var(--text2-color);
    position: relative;

}

h1 {
    letter-spacing: 12px;
    font-family: "Allura", cursive;
    font-size: 70px;
    font-weight: normal;
}

h1 span {
    font-size: 20px;
}

.itiran {
    position: relative;
}

.itiran::before,
.itiran::after {
    content: "";
    display: block;
    width: 400px;
    height: 1px;
    background-color: var(--text2-color);
    position: absolute;
    top: 50%;
    right: 100px;
}

.itiran::after {
    right: -420px;
}

input {
    display: none;
}

h2 {
    text-align: left;
    padding-bottom: 50px;
    position: relative;
}

/* h2::after{
    height: 0.5px;
    width: 200px;
    top: 20px;
    right: 560px;
} */

.staylabel {
    display: block;
    padding-bottom: 20px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #402626;
    position: relative;
}

.staylabel::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent #402626 #402626;
    rotate: -45deg;
    top: 20px;
    right: 10px;
}

.staylabel span {
    display: inline-block;
    text-align: center;
    margin-right: 70px;
    font-size: 24px;
    width: 40px;
    aspect-ratio: 1/1;
    border: 1px solid rgba(40, 26, 26, 0.5);
    border-radius: 50%;
}

.sita {
    text-align: left;
    opacity: 0;
    max-height: 0;
    transform: translateY(0);
    transform-origin: center;
    transition: all 0.3s ease;
}

.sita span {
    display: inline-block;
    width: 30px;
    height: 10px;
}

input:checked+.staylabel+.sita {
    padding: 10px 120px 0;
    text-align: left;
    opacity: 1;
    transform: translateY(-10px);
}

.padding {
    padding: 100px 0;

}

footer {
    width: 100%;
    padding: 20px 0 20px;
    max-width: var(--maxWidth-max-width);
    background-color: #4d3838;
}

.footerinner {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
}

.logo img {
    width: 80px;
}

.insta {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.insta img {
    width: 30px;
}

.pagecontent {
    display: flex;
    gap: 50px;
    padding: 20px 0;
}

.page li {
    padding-bottom: 20px;
    transition: all 0.2s;
}

.page li a {
    font-family: var(--font-fontFamily);
    position: relative;
    white-space: nowrap;

}

.page li a::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(248, 252, 255) rgb(248, 252, 255) transparent transparent;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    left: -20px;
}

.footerspan {
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-fontFamily);
    font-size: 12px;
}

.adress {
    padding-top: 20px;
}

.adress dl {
    color: var(--text-color);
    font-family: var(--font-fontFamily);
    padding-bottom: 30px;
    display: flex;
    gap: 30px;
    white-space: nowrap;

}

.adress dl dt {
    width: 40%;
    text-align: left;
}

.adress dl dd {
    width: 50%;
    white-space: nowrap;
    font-size: 14px;
    text-align: left;
}