@charset "UTF-8";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: var(--text-color);
    text-decoration: none;
    display: block;

}

li {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

p {
    font-family: var(--font-fontFamily);
    color: var(--text-color);
}

:root {
    --text-color: rgb(248, 252, 255);
    --font-fontFamily: "Shippori Mincho", serif;
    --text2-color: #402626;
    --maxWidth-max-width: 1600px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: var(--maxWidth-max-width);
    position: relative;
    z-index: 100;

}

.left {
    width: 60px;
    opacity: 0;
}

header li:first-of-type img {
    width: 80px;
    height: fit-content;
}

header nav {
    border-bottom: 1px solid rgb(248, 252, 255);
    padding: 20px 30px 0;

}

header nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
    max-width: 1200px;

}

header ul li a {
    font-family: var(--font-fontFamily);
    color: var(--text-color);
    font-weight: bold;
}

header ul li:hover a,
.language ul li:hover {
    transition: all 0.3s;
    scale: 1.03;
}

.language ul {
    display: flex;
    gap: 20px;
    color: var(--text-color);
    font-family: var(--font-fontFamily);
    cursor: pointer;

}

.reservation {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 200;
    border: 1px solid rgb(248, 252, 255);
    border-radius: 20px;
    padding: 13px 7px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.reservation::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent rgb(248, 252, 255);
    border-style: solid;
    border-width: 8px;
    position: absolute;
    bottom: 10px;
    left: 16px;
}

.reservation a {
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    font-family: var(--font-fontFamily);
    transition: all 0.2s;
}

.reservation:hover {
    background-color: rgba(248, 252, 255, 0.5);

}

.reservation:hover a {
    color: rgb(0, 0, 0);
}

.topimg {
    background: url(./img/reservetop.png) center/cover no-repeat;
    height: 400px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.topimg::after {
    content: "";
    background: url(./img/kagenan.png) center/contain no-repeat;
    width: 100px;
    height: 200px;
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
}

.content {
    background: url(./img/whitewashi.jpg) center/cover repeat-y;
    padding: 450px 0 100px;
}

.inner {
    width: 57%;
    margin: 0 auto;
}

h1 {
    color: var(--text2-color);
    font-family: var(--font-fontFamily);
    font-size: 24px;
    font-weight: normal;
    position: relative;
}

h1::after {
    content: "";
    display: block;
    width: 300px;
    height: 0.5px;
    border: 0.25px solid #402626;
    position: absolute;
    top: 50%;
    left: 100px;
}

.top {
    display: flex;
    gap: 50px;
    justify-content: center;
    gap: 80px;
    color: var(--text2-color);
    font-family: var(--font-fontFamily);
    margin-top: 80px;
}

h2 {
    writing-mode: vertical-rl;
    height: 150px;
    text-align: center;
    padding: 0 8px;
    font-size: 19px;
    font-weight: normal;
    border: 1px solid #402626;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 70px;
    border-radius: 10px;
    background-color: rgba(238, 240, 241, 0.6);
}

.reserchtop {
    width: 100%;
    display: flex;
    gap: 30px;

}

.br {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

input,
select {
    padding: 3px 5px;
    border-radius: 3px;
    border-color: rgba(40, 26, 26, 0.4);
}

.br select {
    width: 80px;
}

.reserchcenter {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.reserchcenter select {
    width: 100px;
}

.money,
.meal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roomdetail {
    display: flex;
    gap: 30px;
    position: relative;
}

.roomdetail p {
    color: var(--text2-color);
}

.roomdetail .serch {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--text-color);
    background-color: rgba(33, 69, 29, 0.6);
    border-radius: 5px;
    padding: 5px 20px;
    border: 0.5px solid rgba(40, 26, 26, 0.4);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.1s;
}

.roomdetail .serch:hover {
    scale: 0.99;
}

.bottom {
    padding-top: 180px;
    color: var(--text2-color);
    font-family: var(--font-fontFamily);
}

.bottomtop {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.kai {
    display: none;
}

.text {
    text-align: center;
    margin-bottom: 50px;
}

.text p {
    color: var(--text2-color);
    line-height: 2;
    letter-spacing: 1px;
}

h3 {
    padding: 30px 0 40px;
    letter-spacing: 2px;
}

h3 span {
    display: inline-block;
    border-left: 2px solid #402626;
    border-right: 2px solid #402626;
    padding: 0 8px;
    margin: 0 8px;
}

.plan {
    width: 711px;
    margin: 0 auto 40px;
    display: flex;
    gap: 50px;

}

.img {
    width: 50%;
}

.img img {
    width: 315px;
}

.detailright {
    width: 50%;
}

.detail {
    display: flex;
    flex-wrap: wrap;
}

.detail dt,
.detail dd {
    width: 58%;
    line-height: 2.5;
    border-bottom: 1px solid #402626;
}

.detail dd {
    width: 42%;
    letter-spacing: 1px;
}

.hako {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.hako p {
    color: var(--text2-color);
    font-size: 14px;
    padding: 3px 15px;
    border: 1px solid #402626;
}

.bottom .reserchtop {
    width: fit-content;
    margin: 0 auto;
    gap: 40px;
}

.serchkakunin {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    background-color: rgba(33, 69, 29, 0.6);
    border-radius: 5px;
    padding: 8px 20px;
    border: 0.5px solid rgba(40, 26, 26, 0.4);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.1s;
}

.serchkakunin:hover {
    scale: 0.99;
}

footer {
    width: 100%;
    padding: 20px 0 20px;
    max-width: var(--maxWidth-max-width);
    background-color: #4d3838;
}

.footerinner {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
}

.logo img {
    width: 80px;
}

.insta {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.insta img {
    width: 30px;
}

.pagecontent {
    display: flex;
    gap: 50px;
    padding: 20px 0;
}

.page li {
    padding-bottom: 20px;
}

.page li a {
    font-family: var(--font-fontFamily);
    position: relative;
    white-space: nowrap;

}

.page li a::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(248, 252, 255) rgb(248, 252, 255) transparent transparent;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    left: -20px;
}

.footerspan {
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-fontFamily);
    font-size: 12px;
}

.adress {
    padding-top: 20px;
}

.adress dl {
    color: var(--text-color);
    font-family: var(--font-fontFamily);
    padding-bottom: 30px;
    display: flex;
    gap: 30px;
    white-space: nowrap;

}

.adress dl dt {
    width: 40%;
    text-align: left;
}

.adress dl dd {
    width: 50%;
    white-space: nowrap;
    font-size: 14px;
    text-align: left;
}

@media screen and (max-width: 1060px) {

    header {
        top: 50px;
        justify-content: flex-end;
        padding: 0 20px;
    }

    header.color {
        background-color: transparent;
        transition: all 0s;
    }

    .left {
        width: 50px;
        height: 50px;
        background: rgba(203, 207, 209, 0.5);
        border-radius: 50%;
        position: fixed;
        top: 20px;
        right: 110px;
        z-index: 500;
        opacity: 1;
    }

    .left span {
        width: 30px;
        height: 0.8px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 10px;
    }

    .left span:first-of-type {
        top: 35%;
    }

    .left span:nth-of-type(3) {
        top: 65%;
    }

    .left.open span:first-of-type {
        transform: rotate(45deg);
        top: 50%;
    }

    .left.open span:nth-of-type(2) {
        background-color: transparent;
    }

    .left.open span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 50%;
    }

    .left.open span:first-of-type {
        transform: rotate(45deg);
        top: 50%;
    }

    .left.open span:nth-of-type(2) {
        background-color: transparent;
    }

    .left.open span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 50%;
    }

    header nav {
        border-bottom: none;
        padding: 0;
    }

    header nav ul {
        width: 100%;
        height: 550px;
        display: block;
        position: fixed;
        top: -50px;
        right: 0;
        background-color: rgba(203, 207, 209, 0.9);
        padding: 140px 0 0;
        opacity: 0;
        transform: translateX(-100%);

    }

    header nav ul.open {
        opacity: 1;
        pointer-events: auto;
    }


    header nav ul li {
        padding-bottom: 20px;
        /* border-bottom: 1px solid #333; */
    }

    header nav ul li:first-of-type img {
        display: none;
    }

    header li a {
        text-align: center;
        color: rgb(15, 15, 15);
        text-shadow: none;
        font-size: 18px;

    }

    header nav {
        border-bottom: none;
        padding: 0;
    }

    header nav ul {
        width: 100%;
        height: 550px;
        display: block;
        position: fixed;
        top: -50px;
        right: 0;
        background-color: rgba(203, 207, 209, 0.9);
        padding: 140px 0 0;
        opacity: 0;
    }

    header nav ul.open {
        opacity: 1;
        pointer-events: auto;
    }

    header nav ul li {
        padding-bottom: 20px;
        /* border-bottom: 1px solid #333; */
    }

    header nav ul li:first-of-type img {
        display: none;
    }

    header ul li a {
        text-align: center;
        color: rgb(15, 15, 15);
        text-shadow: none;
        font-size: 18px;
    }

    .language {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        padding: 3px 10px;
        position: fixed;
        top: 30px;
        right: 10px;
        z-index: 400;
    }






}

@media screen and (max-width: 768px) {


    .inner {
        width: 460px;
    }

    .flex {
        padding: 30px;
        width: 460px;
        margin: 0 auto;
        justify-content: center;
    }

    .br select {
        width: 60px;
    }

    .top {
        display: block;
    }

    h2 {
        writing-mode: horizontal-tb;
        margin: 0 auto 20px;
        height: fit-content;
        width: fit-content;
        font-size: 17px;
        padding: 3px 15px;
    }

    .bottom {
        width: 460px;
        margin: 0 auto;
    }

    .bottomtop {
        display: block;
    }

    .text p {
        font-size: 12px;
        letter-spacing: 0;
    }

    .plan {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 460px;
        margin: 0 auto;
        gap: 30px;
    }

    .img {
        width: 300px;
    }

    .detailright {
        width: 80%;
    }

    .detail dt,
    .detail dd {
        font-size: 13px;
    }

    .detail dt {
        padding-left: 10px;
    }

    .roomdetail p {
        font-size: 13px;
    }

    label {
        font-size: 13px;
    }

    .hako {
        justify-content: center;
    }

    .hako p {
        font-size: 13px
    }

    .bottom .reserchtop {
        margin: 30px auto 0;
        gap: 10px;
    }

    .reserchtop {
        gap: 10px;
    }

    .footerinner {
        gap: 10%;
    }

    .logo img {
        width: 50px;
    }

    .page li {
        padding-bottom: 10px;
    }

    .page li a {
        font-size: 12px;
    }

    .adress dl {
        padding-bottom: 10px;
    }

    .adress dl dt {
        font-size: 12px;
    }

    .adress dl dd {
        font-size: 11px;
    }

    .insta p {
        font-size: 12px;
    }

    .insta img {
        width: 20px;
    }

}

@media screen and (max-width: 550px) {

    .footerinner .logo {
        display: none;
    }

    .footerinner {
        margin: 0 auto;
        gap: 7%;
        justify-content: center;
    }

    .footerspan {
        font-size: 10px;
    }

    .reservation a {
        font-size: 14px;
    }


}

@media screen and (max-width: 470px) {

    h1 {
        width: fit-content;
        font-size: 20px;
        left: 30px;
    }

    h1::after {
        width: 200px;
    }

    h2 {
        font-size: 15px;
    }

    .flex {
        padding: 15px;
        width: 370px;
    }

    #check1,
    #check2 {
        width: 140px;
    }

    .br select,
    .br input,
    .reserchcenter select {
        width: 50px;
        font-size: 10px;
    }

    .reserchcenter select {
        width: 80px;
    }

    .budgetinner select {
        width: 80px;
    }

    label {
        font-size: 12px;
    }

    h3 {
        font-size: 16px;
        letter-spacing: 0;
    }

    .img img {
        width: 300px;
    }

    .detail dt,
    .detail dd {
        font-size: 12px;
        width: 45%;
    }

    .hako p {
        font-size: 12px;
    }

    .serchkakunin,
    .roomdetail .serch {
        font-size: 13px;
    }

    .inner,
    .bottom,
    .plan {
        width: 370px;
    }

    .bottom {
        padding-top: 100px;
    }

    .bottom .reserchtop {
        width: 340px;
    }

    .br {
        display: block;
    }

}